<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".home"><i class="fa fa-empire"></i> Simple Angular Project</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref=".home"><i class="fa fa-home"></i> Home</a></li>
            <li><a ui-sref=".about"><i class="fa fa-question"></i> About</a></li>
            <li><a ui-sref=".contact"><i class="fa fa-comment"></i> Contact</a></li>
            <li ng-show="!header.isLoggedIn()"><a ui-sref=".login"><i class="fa fa-sign-in"></i> Login</a></li>
            <li ng-show="header.isLoggedIn()" class="dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user"></i> {{header.user.name}}
                      <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a ng-click="header.logout()" ui-sref=".login"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    $('.dropdown-toggle').dropdown();
</script>
