* {
  font-family: 'Roboto', sans-serif;
}

[type="text"].ng-dirty.ng-valid,[type="email"].ng-dirty.ng-valid,[type="password"].ng-dirty.ng-valid {
  background: #ECFFEC;
}

[type="text"].ng-dirty.ng-invalid,[type="email"].ng-dirty.ng-invalid,[type="password"].ng-dirty.ng-invalid {
  background: #FFCFD0;
}

.success-well {
  background: #ECFFEC;
  border: 1px solid green;
}

.error-well {
  background: #FFCFD0;
  border: 1px solid red;
  margin-bottom: 10px;
}

.dropdown-menu {
  min-width: 100px; // To override Bootstrap's min-width of 160px, which may be too wide.
  width: 100%;
  a {
    padding-left: 10px;
  }
}
