* {
  font-family: 'Roboto', sans-serif;
}

[type="text"].ng-dirty.ng-valid,[type="email"].ng-dirty.ng-valid {
  background: #ECFFEC;
  position: relative;
}

[type="text"].ng-dirty.ng-invalid,[type="email"].ng-dirty.ng-invalid {
  background: #FFCFD0;
}
