<div class="container">
    <div class="row">
        <h3 class="text-center"> Log In </h3>
    </div>

    <hr class="row" />
    <br/>

    <div class="row">
      <form role="form" name="login.form" id="login-form" ng-submit="login.login()" novalidate>
        <div class="well success-well">
          <h4>Valid Logins</h4>
          kelleigh.maroney@gmail.com / password<br>
          frodo@gmail.com / hell0W0rld
        </div>

        <div ng-show="login.error" class="well error-well">
          {{login.error}}
        </div>

        <div class="form-group">
          <label>Email</label>
          <input required type="email" class="form-control" name="emailAddress" ng-model="login.formcontent.emailAddress" ng-model-options="{ updateOn: 'blur' }">
          <div ng-messages="login.form.emailAddress.$dirty && login.form.emailAddress.$error" style="color:red" role="alert">
              <div ng-message="required">Please enter a value for this field.</div>
              <div ng-message="email">This field must be a valid email address.</div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input required type="password" class="form-control" name="password" ng-model="login.formcontent.password" ng-minlength=6 ng-model-options="{ updateOn: 'blur' }">
          <div ng-messages="login.form.password.$dirty && login.form.password.$error" style="color:red" role="alert">
              <div ng-message="required">Please enter a value for this field.</div>
              <div ng-message="minlength">Your password must be at least 6 characters long.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-default" ng-disabled="login.form.$invalid">Submit</button>
      </form>
    </div>
</div>
